@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Fonts
$font-dm-sans: 'DM Sans', sans-serif;

// Font sizes
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-lg: 1rem;

// Colors
$color-black: #212E4C;
$color-black-light: #757575;
$color-gray-dark: #49454F;
$color-gray: #D9D9D9;
$color-gray-light: #F2F2F7;
$color-white: #F5F5F5;
$color-white-light: #F0F3FF;
